@import '../utils/_variables.scss';

* {
  margin: 0;
  padding: 0;
  color: $white;
}
a {

}
.bloc-page {
  width: 100%;
  background-color: $color-primary;
}
main {
  width: 100vw;
  max-width: 1024px;
}